.row.text-center
  .col-xs-12.col-md-8.col-md-offset-2
    %h1 Welcome to DBTC!
    %p It is time to create your first chain
    %p Keep your goal simple and achievable
    %ul.list-unstyled
      %li Write for 15 minutes a day
      %li Write 5 lines of Ruby
      %li Exercise for 7 minutes
    %p If you do more, great! But set something that will be achievable even on your worst day.
.row
  .col-xs-12.col-md-4.col-md-offset-4.well
    %form
      .form-group
        %label{for: "firstChain"} Create Your First Chain
        %input{type: "text", class: "form-control", id: "firstChain",
              placeholder: "Your First Chain"}
      %button{type: "submit", class: "btn btn-success"} Create
